
        
            <div class="header-fixed">
                <nav class="navbar navbar-expand-lg header-nav">
                    <div class="navbar-header">
                        <a id="mobile_btn" href="javascript:void(0);">
                            <span class="bar-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </a>
                        <a href="index.html" class="navbar-brand logo">
                            <img src="/images/logos/logoweb.jpg"  class="img-fluid" alt="Logo" />
                        </a>
                    </div>
                    <div class="main-menu-wrapper">
                        <div class="menu-header">
                            <a href="index.html" class="menu-logo">
                                <img src="/images/logos/logoweb.jpg"   class="img-fluid" alt="Logo" />
                            </a>
                            <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        <ul class="main-nav">
                            <li class="active"  >
                                <a href="index.html">Home</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#">Recruiter Dashboard <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li class=""><a href="/job_process/post_Job.html">Post Job Opportunities</a></li>
                                   
                                  
                                    
                                    <li class=""><a href="profile-settings.html">Profile Settings</a></li>
                                  
                                    <li class=""><a href="/account/register.html"> Register</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">Applications <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li class="has-submenu">
                                        <a href="#">Applications</a>
                                        <ul class="submenu">
                                            <li class=""><a href="/job_process/application_details.html">Map Grid</a></li>
                                            <li class=""><a href="map-list.html">Map List</a></li>
                                        </ul>
                                    </li>
                                    <li class=""><a href="/job_process/send_application.html">Send Application</a></li>
                                  
                                    <li class=""><a href="profile-settings-mentee.html">Profile Settings</a></li>
                                
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                    <ul class="nav header-navbar-rht">
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-login" href="/account/register.html">Register</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        